<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Sistema de avaliação</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/" th:href="@{https://getbootstrap.com/docs/4.1/examples/pricing/}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/pricing.css" rel="stylesheet" th:href="@{pricing.css}">
  </head>

  <body background="https://www.chainimage.com/images/home-o-shopping-sobre-o-shopping-servi%C3%A7os-vagas-como-chegar-contato.jpg"
  style="background-repeat: repeat; background-size: 100%;;">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Sistema de avaliação</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Avaliadores</a>
        <a class="p-2 text-dark" href="#">Trabalhos</a>
        <a class="p-2 text-dark" href="#">Revisões</a>
        <a class="p-2 text-dark" href="#">Áreas de conhecimento</a>
      </nav>
      <a class="btn btn-outline-primary" href="/logout">Logout</a>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Seja bem-vindo de volta, Administrador</h1>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Avaliadores</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Administre-os</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Liste, crie, edite, exclua</li>           
            </ul>
            <a href="#"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Avaliadores</button></a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Trabalhos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Administre-os</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Liste, crie, edite, exclua</li>
            </ul>
            <a href="#"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Trabalhos</button></a>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Revisões</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Admintre-as</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Liste, crie, edite, exclua</li>
                </ul>
                <a href="/login"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Revisões</button></a>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Áreas de conhecimento</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Adminitre-as</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Liste, crie, edite, exclua</li>
                </ul>
                <a href="/sobre"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Áreas de conhecimento</button></a>
              </div>
            </div>
          </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            Gabriel Martins Santana <br/>
            Mateus Gonçalo do Nascimento <br/>
            <small class="d-block mb-3 text-muted">&copy; 2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Funcionalidades</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Saiba mais</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Novidades</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Confira no site</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Sobre</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Privacidade</a></li>
              <li><a class="text-muted" href="#">Termos</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
